@import "styles/variables.module.scss";
@import "styles/mixins.module.scss";

.label {
  @include fs_lh_fw_fcolor(16px, 24px, 400, $text);
  display: block;
  margin-bottom: 8px;
}

.input, .textarea {
  background: rgba(233, 235, 242, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  overflow: hidden;
  @include fs_lh_fw_fcolor(16px, 24px, 400, $text);

  &::placeholder {
    @include fs_lh_fw_fcolor(16px, 24px, 400, $text2);
  }

  &.errorInput {
    background: rgba(255, 0, 0, 0.35);
  }

  &.admin {
    padding: 8px;

  }
}


.phone_wrapper {
  position: relative;

  input {
    padding-left: 54px;
    letter-spacing: 2px;
  }
}

.input_password_wrapper {
  position: relative;

  input{
    padding-right: 50px;
  }
}

.img_password_wrapper {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.textarea {
  resize: vertical;
  min-height: 56px;
  height: 56px;

}

.error {
  color: rgba(255, 0, 0, 0.56);
  margin-top: 5px;
}

.label_file {
  @include df_jc_ai(center, center);

  width: 258px;
  height: 42px;
  background: $accent;
  border-radius: 6px;
  cursor: pointer;

  span {
    @include fs_lh_fw_fcolor(16px, 20px, 400, $text);
    display: block;
    margin-right: 10px;
  }
}

.file_input {
  display: none;
}

