@import "styles/variables.module.scss";
@import "styles/mixins.module.scss";

.label{
  @include fs_lh_fw_fcolor(16px,24px,400,$text);
  display: block;
  margin-bottom: 8px;
}

.input,.textarea{
  background: rgba(233, 235, 242, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  @include fs_lh_fw_fcolor(16px,24px,400,$text);
  &::placeholder{
    @include fs_lh_fw_fcolor(16px,24px,400,$text2);
  }

  &.errorInput{
    background: rgba(255, 0, 0, 0.35);
  }
}


.phone_wrapper{
  position: relative;
  input{
    padding-left: 54px;
    letter-spacing: 2px;
  }

}

.number_ex{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  @include fs_lh_fw_fcolor(16px,24px,400,$text2);
}

.textarea{
  resize: vertical;
  min-height: 56px;
  height: 56px;
  max-height: 300px;
}

.error{
  color: rgba(255, 0, 0, 0.56);
  margin-top: 5px;
}