@import "styles/variables.module";
@import "styles/mixins.module";

.banner {
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  max-width: 1920px;
  margin: 0 auto;
}

.inner {
  background: $main;
  max-width: 50%;
  margin-left: auto;
  padding: 32px 32px 270px 32px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 160px 0 0 160px;
  height: 100%;
}


.socials {
  display: flex;
  justify-content: flex-end;
  max-width: 300px;
  margin-left: auto;
  margin-bottom: 73px;
}

.social_item {
  @include df_jc_ai(center, center);
  width: 28px;
  height: 28px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin-right: 16px;
}

.content {
  max-width: 484px;
  margin: 0 auto;
}

.title {
  @include fs_lh_fw_fcolor(32px, 39px, 700, #fff);
  margin-bottom: 32px;
}

.blockquote {
  @include fs_lh_fw_fcolor(24px, 36px, 300, #fff);
  font-style: italic;
  margin-bottom: 32px;
}

.name {
  @include fs_lh_fw_fcolor(20px, 24px, 700, #E9EBF2);
}


.line_content {
  width: 100%;
  position: absolute;

  backdrop-filter: blur(10px);
  left: 0;
  bottom: 50px;
  display: grid;
  grid-template-columns:repeat(5, minmax(250px, 1fr));
  overflow-x: scroll;
  background: linear-gradient(90.6deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
  scrollbar-width: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.line_items {
  padding: 32px 0;
  text-align: center;
}

.l_i_title {
  @include fs_lh_fw_fcolor(32px, 39px, 700, $main);
  margin-bottom: 2px;
}

.l_i_text {
  @include fs_lh_fw_fcolor(20px, 24px, 400, rgba(25, 38, 64, 0.75));
}


@media (max-width:1200px) {

  .banner {
    background-position: -300px center;
  }
  .content {
    max-width: 100%;
    margin: 0 auto;
  }
  .title {
    @include fs_lh_fw_fcolor(25px, 35px, 700, #fff);
    margin-bottom: 25px;
  }

  .blockquote {
    @include fs_lh_fw_fcolor(22px, 36px, 300, #fff);
    margin-bottom: 25px;
  }
}

@media (max-width:880px) {
  .banner {
    background-position: center -450px;
    padding-top: 300px;
    background-size: cover;
  }
  .inner {;
    max-width: 100%;
    margin: 0;
    padding:32px 0 36px;
    border-radius: 50px 50px 0 0;
    height: auto;
  }

  .content{
    padding:0 16px;

  }

  .socials {
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 16px 48px;
  }

  .line_content {
    position: static;
    grid-gap: 16px;
    margin-top: 48px;
    background: linear-gradient(90.6deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .line_items{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%);
    backdrop-filter: blur(10px);
    border-radius: 4px;
  }

  .l_i_text {
    @include fs_lh_fw_fcolor(16px, 24px, 400, rgba(25, 38, 64, 0.75));
  }
  
}


@media (max-width: 640px) {
  .banner {
    background-position:40% -450px;
    padding-top: 300px;
    background-size: auto;
  }
  .inner {;

    border-radius: 30px 30px 0 0;

  }


  .title {
    @include fs_lh_fw_fcolor(24px, 32px, 700, #fff);
    margin-bottom: 16px;
  }
  .blockquote {
    @include fs_lh_fw_fcolor(20px, 30px, 300, #fff);
    margin-bottom: 16px;
  }
}



@media (max-width: 400px){
  .banner {
    background-position:40% -40px;
    padding-top: 175px;
    background-size: contain;
  }
}