@import "styles/variables.module";
@import "styles/mixins.module";


.header {
  position: relative;
  border-bottom: 1px solid rgba(25, 38, 64, 0.1);
}

.h_inner {
  padding: 8px 0 16px 0;
}

.h_top {
  @include df_jc_ai(center, center);
  padding: 5.5px;
  margin-bottom: 16px;
}

.h_top_links {
  @include fs_lh_fw_fcolor(12px, 15px, 400, $text2);
  letter-spacing: 0.04em;
  padding: 0 10px;
  margin-right: 8px;
}


.setting {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  @include df_jc_ai(center, center);
  margin: 0 8px 0 16px;
  cursor: pointer;
  position: relative;
}

.s_inner {
  position: absolute;
  background: #fff;
  top: 30px;
  padding: 16px;
  z-index: 1;
  width: 137px;
  border-radius: 6px;
}



.s_item_title {
  @include fs_lh_fw_fcolor(14px, 17px, 500, $text);
  text-align: center;
  margin-bottom: 12px;
}

.s_item_inner {
  display: flex
}


.s_item_inner_color {
  display: flex;
  justify-content: center;

  div {
    width: 38px;
    height: 38px;
    background: #213D88;
    border-radius: 4px;
    @include df_jc_ai(center, center);
    color: #fff;
    margin-right: 10px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  .active {
    &::after {
      content: "";
      width: 80%;
      height: 2px;
      border-radius: 4px;
      background: #213D88;
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  div:last-child {
    background: #838A97;
  }
}

.s_item_inner_font {
  display: flex;
  justify-content: center;

  div {
    width: 38px;
    height: 38px;
    background: #213D88;
    border-radius: 4px;
    @include df_jc_ai(center, center);
    color: #fff;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    position: relative;


  }

  .active {
    &::after {
      content: "";
      width: 80%;
      height: 2px;
      border-radius: 4px;
      background: #213D88;
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  :first-child {
    font-size: 12px;
  }
}

.s_item_inner_border {
  margin: 16px 0;
  width: 100%;
  height: 1px;
  background: #E9EBF2;
}



.h_bottom {
  @include df_jc_ai(space-between, center);
  position: relative;
}

.logo {
  background: $main;
  padding: 10px 11px;
  border-radius: 10px;
}

.logo_wrapper {
  width: 48px;
  height: 40px;
  position: relative;
  display: block;
}

.h_bot_main_links_wrap {
  @include df_jc_ai(center, center);

}

.h_bot_main_link_wrap {
  margin-right: 24px;
  position: relative;
  padding: 5px;
  transition: .4s;

  &:hover {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 0 0 $main;
  }

}

.setting_language_res {
  display: none;
}


.h_bot_main_link {
  @include fs_lh_fw_fcolor(16px, 20px, 400, $text);
  cursor: pointer;
  position: relative;
}

.h_bot_main_link_active {
  position: absolute;
  height: 56px;
  width: 100%;
  left: 0;
}


.sublinks_wrap {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
  background: #E9EBF2;
  margin: 0 auto;
  border: 1px solid rgba(131, 138, 151, 0.15);
  border-radius: 0 0 20px 20px;
  transition: .5s;
  pointer-events: none;

  opacity: 0;


  &.sublinks_wrap_active {
    opacity: 10;
    pointer-events: auto;
  }
}

.h_bot_sublinks_list {
  display: grid;
  max-width: 940px;
  grid-column-gap: 50px;
  margin: 0 auto;
  padding: 32px 0 16px;
  grid-template-columns: repeat(3, 1fr);
}


.h_bot_sublink_li {
  margin-bottom: 16px;
}

.h_bot_sublink_a {
  @include fs_lh_fw_fcolor(14px, 24px, 400, $text);
}

.burger_search_wrap {
  @include df_jc_ai(stretch, center);
}


.search,
.burger {
  cursor: pointer;
}

.search_form {
  z-index: 1;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);

  width: 0;
  transition: .6s;

  input {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    overflow: hidden;
    padding: 0 40px 0 32px;
  }
}

.active_form {
  width: 90%;
}

.search_form_img_left,
.search_form_img_right {
  position: absolute;

}

.search_form_img_left {
  left: 12px;
  width: 16px;
  min-width: 16px;
  height: 16px;
}

.search_form_img_right {
  right: 10px;
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.burger {
  margin-left: 25px;
}


//language
.lang {
  position: relative;
}

.img_lang_wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.view {
  @include df_jc_ai(center, center);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  padding: 0 8px;
  height: 24px;
  position: relative;

  button {
    margin-right: 4px;
    background: transparent;
    @include fs_lh_fw_fcolor(12px, 15px, 400, $text2);
  }
}

.locales {
  padding: 3px 0;
  background: rgba(255, 255, 255, 0.605);
  @include fs_lh_fw_fcolor(10px, 15px, 400, $text2);
  border-radius: 10px;
  position: absolute;
  top: 25px;
  z-index: 1;

  a {
    color: $text2;
    margin-bottom: 2px;


  }

  a:last-child {
    margin-right: 0;

  }

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

@media (min-width:1160px) {
  .header {

    &.bigFont {
      .h_top_links {
        @include fs_lh_fw_fcolor(14px, 16px, 400, $text2);

      }

      .h_bot_sublink_a {
        @include fs_lh_fw_fcolor(18px, 24px, 400, $text2);
      }

      .h_bot_main_link_wrap {
        margin-right: 8px;
      }

      .h_bot_main_link {
        @include fs_lh_fw_fcolor(18px, 20px, 400, $text);
      }

    }
  }
}

@media (max-width: 1160px) {

  .s_item_inner_font {
    display: none;
  }

  .s_item_inner_border {
    display: none;
  }




  .h_top {
    display: none;
  }

  .h_bot_main_links_wrap {
    display: none;
  }

  .h_bottom {
    display: grid;
    grid-template-columns: 85px 70px 72px;

  }

  .setting_language_res {
    display: flex;

    .setting {
      margin-right: 0;
      margin-left: 8px;
    }
  }

  .burger_search_wrap {

    justify-content: end;
  }

  .burger {
    margin-left: 15px;
  }

  .active_form {
    width: 101%;
  }

}