@import "styles/variables.module";
@import "styles/mixins.module";


.header {
  position: relative;
  margin-bottom: 16px;
}

.h_inner {
  padding: 8px 0;
}

.h_top {
  @include df_jc_ai(center, center);
  padding: 5.5px;
  margin-bottom: 16px;
}

.h_top_links {
  @include fs_lh_fw_fcolor(12px, 15px, 400, $text2);
  letter-spacing: 0.04em;
  padding: 0 10px;
  margin-right: 8px;
}


.setting {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  @include df_jc_ai(center, center);
  margin: 0 8px 0 16px;
  cursor: pointer;
  position: relative;
}

.s_inner {
  position: absolute;
  background: #fff;
  top: 25px;
  padding: 10px;
  z-index: 1;
}

.s_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.s_item_font {
  .s_item_inner {
    display: flex;
    align-items: center;

    div {
      padding: 5px;
      font-size: 12px;
      margin: 0 5px;
      color: #fff;
    }

    div:last-child {
      font-size: 16px;
      filter: none;
    }
  }
}

.s_item_inner {
  display: flex;
  align-items: center;

  div {
    padding: 5px;
    background-color: $main;
    margin: 0 5px;
    color: #fff;
  }

  div:last-child {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}


.h_bottom {
  @include df_jc_ai(space-between, center);
}

.logo {
  background: $main;
  padding: 10px 11px;
  border-radius: 10px;
}

.logo_wrapper {
  width: 48px;
  height: 40px;
  position: relative;
}

.h_bot_main_links_wrap {
  @include df_jc_ai(center, center);

}

.h_bot_main_link_wrap {
  margin-right: 24px;
  position: relative;
  padding: 5px;
  transition: .4s;

  &:hover {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 0 0 $main;
  }

}

.setting_language_res {
  display: none;
}


.h_bot_main_link {
  @include fs_lh_fw_fcolor(16px, 20px, 400, $text);
  cursor: pointer;
  position: relative;
}

.h_bot_main_link_active {
  position: absolute;
  height: 100px;
  width: 100%;
  left: 0;
}


.sublinks_wrap {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  background: #E9EBF2;
  margin: 0 auto;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  border-radius: 0 0 20px 20px;
  transition: .5s;
  pointer-events: none;

  opacity: 0;


  &.sublinks_wrap_active {
    opacity: 10;
    pointer-events: auto;
  }
}

.h_bot_sublinks_list {
  display: grid;
  max-width: 940px;
  grid-column-gap: 50px;
  margin: 0 auto;
  padding: 32px 0 16px;
  grid-template-columns: repeat(3, 1fr);
}


.h_bot_sublink_li {
  margin-bottom: 16px;
}

.h_bot_sublink_a {
  @include fs_lh_fw_fcolor(14px, 24px, 400, $text);
}

.burger_search_wrap {
  @include df_jc_ai(stretch, center);
}


.search, .burger {
  cursor: pointer;
  position: relative;
}

.search_form {
  z-index: 1;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  position: absolute;
  right: -2px;
  bottom: -10px;
  width: 0;
  transition: .6s;

  input {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    overflow: hidden;
    padding: 0 40px 0 32px;
  }
}

.active_form {
  width: 320px;

}

.search_form_img_left, .search_form_img_right {
  position: absolute;

}

.search_form_img_left {
  left: 12px;
  width: 16px;
  min-width: 16px;
  height: 16px;
}

.search_form_img_right {
  right: 10px;
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.burger {
  margin-left: 25px;
}


//language
.lang {
  position: relative;
}

.img_lang_wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.view {
  @include df_jc_ai(center, center);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  padding: 0 8px;
  height: 24px;
  position: relative;

  button {
    margin-right: 4px;
    background: transparent;
    @include fs_lh_fw_fcolor(12px, 15px, 400, $text2);
  }
}

.locales {
  padding: 3px 0;
  background: rgba(255, 255, 255, 0.5);
  @include fs_lh_fw_fcolor(10px, 15px, 400, $text2);
  border-radius: 10px;
  position: absolute;
  top: 25px;

  a {
    color: $text2;
    margin-right: 2px;

  }

  a:last-child {
    margin-right: 0;

  }

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}


@media (max-width: 1160px) {
  .h_top {
    display: none;
  }

  .h_bot_main_links_wrap {
    display: none;
  }

  .h_bottom {
    display: grid;
    grid-template-columns: 85px 70px 72px;

  }

  .setting_language_res {
    display: flex;

    .setting {
      margin-right: 0;
      margin-left: 8px;
    }
  }

  .burger_search_wrap{

    justify-content: end;
  }

.burger{
  margin-left: 15px;
}

}


