@import "styles/variables.module";
@import "styles/mixins.module";

.opinions {
  .swiper {
    padding: 0 0 17px 0;
  }






  .swiper-pagination-bullet-active {
    background: $text2;
    opacity: 100%;
  }

  .swiper-button-prev, .swiper-button-next {

    &:after {
      color: $text2;
    }
  }
}

.opinions__title {
  margin-bottom: 32px;
  text-align: center;
}


.opinions__slide {
  background: $main;
  max-width: 1143px;
  margin: 0 auto;
  padding: 10px 32px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  height: 100%;

}

.opinions__slide_bg {
  background: $main;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: -1;
}

.opinions__slide_shadow {
  width: 100%;
  height: 95%;
  position: absolute;
  background: linear-gradient(135.93deg, #A9F261 0%, #213D88 101.68%);
  border-radius: 10px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  bottom: -17px;
  left: 10px;
  z-index: -1;
}

.opinions__name {
  @include fs_lh_fw_fcolor(24px, 29px, 600, #fff);
  margin-bottom: 8px;
}

.opinions__who {
  @include fs_lh_fw_fcolor(14px, 17px, 600, #E9EBF2);
  margin-bottom: 16px;
}


.opinions__text {
  @include fs_lh_fw_fcolor(16px, 24px, 400, #E9EBF2);
  margin-bottom: 19px;
}

.opinions__quote {
  margin-bottom: 12px;
  position: relative;
  width: 66px;
  height: 50px;
}

.opinions__quote_bottom {
  transform: rotate(180deg);
  position: relative;
  width: 66px;
  height: 50px;

  margin-left: auto;
}


@media (max-width: 1350px) {
  .opinions__slide {
    max-width: 900px;
  }
}


@media (max-width: 1100px) {
  .opinions {
    .swiper-button-prev, .swiper-button-next {
      display: none;
    }


  }
  .opinions__slide {
    max-width: 95%;

  }
}


@media (max-width: 600px) {
  .opinions__slide {
    padding: 10px 16px;

  }

  .opinions__quote {
    margin-bottom: 0;
    position: relative;
    width: 30px;
    height: 30px;
  }

  .opinions__quote_bottom {
    transform: rotate(180deg);
    position: relative;
    width: 30px;
    height: 30px;
  }
}