@import "styles/variables.module";
@import "styles/mixins.module";

.topSelections {
  margin-bottom: 32px;
  width: 100%;
}

.topSelections__inner {
  display: grid;
  grid-template-columns: 322px minmax(300px, 1fr);
  grid-gap: 30px;
  align-items: start;
}

.topSelections__inner_left {
  background: $main;
  border-radius: 10px;
  min-width: 322px;
  width: 322px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topSelections__l_inner {
  display: flex;
}

.topSelections__l_img_wrap {
  min-width: 48px;
  width: 48px;
  height: 48px;
}


.topSelections__l_btn{
  width: 100%;
}

.topSelections__l_content {
  margin-bottom: 16px;
  margin-left: 16px;

  p {
    @include fs_lh_fw_fcolor(16px, 20px, 400, #E9EBF2);
    margin-bottom: 4px;
  }

  a {
    @include fs_lh_fw_fcolor(20px, 24px, 700, #fff);
  }
}

.topSelections__right {
  border-radius: 10px;

}

.topSelections__slider {
  position: relative;


  .swiper {
    padding-bottom: 20px;
  }

  .swiper-pagination {
    position: absolute;
    top: 90%;
  }

  .swiper-pagination-bullet {
    background: $text2;
    opacity: 0.25;
  }

  .swiper-pagination-bullet-active {
    background: $text2;
    opacity: 100%;
  }

}

.topSelections__slide {
  display: flex;
  align-items: center;
  padding: 18px 32px;
  background: $main;
  border-radius: 10px;
  cursor: pointer;
}

.topSelections__slide_img_wrap {
  width: 197px;
  height: 103px;
  position: relative;
  margin-right: 19px;
}

.topSelections__slide_content {
  p:first-child {
    @include fs_lh_fw_fcolor(20px, 24px, 500, #fff);
    margin-bottom: 8px;
  }

  p:last-child {
    @include fs_lh_fw_fcolor(24px, 29px, 600, #fff);

    @include cut_text(1)
  }
}


.topSelections__slide_btn {
  min-width: 185px;
  margin-left: auto;
}


@media (max-width: 1350px) {

  .topSelections__slide_img_wrap {
    width: 150px;
    min-width: 150px;
    height: 100px;
  }

  .topSelections__slide_content {
    p:first-child {
      @include fs_lh_fw_fcolor(18px, 24px, 500, #fff);
    }

    p:last-child {
      @include fs_lh_fw_fcolor(21px, 29px, 600, #fff);
    }
  }

}


@media (max-width: 1200px) {


  .topSelections__inner {
    grid-template-columns: 260px minmax(300px, 1fr);
    grid-gap: 20px;
  }

  .topSelections__l_content {
    margin-left: 10px;
  }

  .topSelections__inner_left {
    min-width: 260px;
    width: 260px;
  }
}


@media (max-width: 950px) {
  .topSelections__inner {
    display: block;

  }

  .topSelections__inner_left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 18px 32px;
    margin-bottom: 10px;
  }

  .topSelections__l_inner {
    grid-column: 1/4;
  }

  .topSelections__l_content {
    margin-bottom: 0;
  }

  .topSelections__l_btn {
    grid-column: 4/5;
  }

  .topSelections__slide {
    @include dg_tc_tr_gg(repeat(5, 1fr), auto, 10px);

  }

  .topSelections__slide_content {
    grid-column: 2/6;
  }

  .topSelections__slide_btn {
    grid-column: -6/-1;
    grid-row: 2/3;
    width: 100%;
  }
}


@media (max-width: 768px) {
  .topSelections__inner_left {
    padding: 16px;
  }

  .topSelections__slide {
    padding: 16px;
  }
}


@media (max-width: 480px) {
  .topSelections__inner_left {
    padding: 10px;
    display: block;
  }

  .topSelections__l_inner {
    margin: 0 auto 10px;
    justify-content: center;
  }


  .topSelections__slide {
    display: block;
    padding: 10px;
  }

  .topSelections__slide_img_wrap {
    margin: 0 auto 5px;
  }

  .topSelections__slide_content {
    margin-bottom: 10px;
  }

  .topSelections__slide_content {
    p:first-child {
      @include fs_lh_fw_fcolor(16px, 20px, 500, #fff);
      margin-bottom: 2px;
    }
    p:last-child {
      @include fs_lh_fw_fcolor(18px, 25px, 600, #fff);
    }
  }

  .topSelections__slider {
    .swiper-pagination {
      top: 93%;
    }
  }
}