@import "styles/variables.module";
@import "styles/mixins.module";

.sections {
  padding: 10px 0;
  margin-bottom: 32px;
}

.titles {
  @include fs_lh_fw_fcolor(30px, 30px, 500, $text);
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid $text2;
  padding: 5px;
  display: inline-block;
}

.number_banner_wr {
  @include dg_tc_tr_gg(repeat(auto-fill, minmax(190px, 1fr)), auto, 20px);
}

.banner_number_title {
  color: $main;
  margin-bottom: 10px;

}


.statistic_wr {
  @include dg_tc_tr_gg(repeat(2, 1fr), auto, 20px);
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}