@import "styles/variables.module";
@import "styles/mixins.module";

.layout {
  display: flex;
  background: #F5F5F5;
}


.navbar {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 32px 0;
  background-color: $main;
  align-items: baseline;
  min-height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  min-width: 350px;
  width: 350px;
  z-index: 1;
}

.logo {
  position: relative;
  border-radius: 10px;
  display: block;
  margin: 0 auto 40px;
}

.menu_item {

  padding: 16px;
  width: 100%;

  &.active {
    background: linear-gradient(90.6deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(10px);

    .menu_title {
      @include fs_lh_fw_fcolor(18px, 20px, 500, $main);

    }

    .menu_links {
      @include fs_lh_fw_fcolor(16px, 20px, 400, $main);
    }
  }
}

.menu_title,.home_link {
  @include fs_lh_fw_fcolor(18px, 20px, 400, #fff);
  cursor: pointer;
}

.menu_list {
  display: none;


  &.active {
    display: block;
  }
}

.home_link{
  padding: 15px;
  display: block;
  width: 100%;
  &.active{
    background: linear-gradient(90.6deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(10px);
    color: $main;
  }
}

.menu_links {
  @include fs_lh_fw_fcolor(16px, 20px, 400, #fff);
  margin-top: 10px;
  display: block;
  margin-left: 10px;
}

.content {
  background: #F5F5F5;
  width: 100%;
}

.content_top {
  @include df_jc_ai(space-between, center);
  background: #fff;
  padding: 15px 32px;
  position: relative;
}

.content_top_text {
  text-transform: uppercase;


  span {
    display: inline-block;
    padding: 5px 10px 5px 10px;
  }
}

.subname{
  border-left: 2px solid $main;
}

.content_inner {
  padding: 32px;
}

