@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap');
@import "styles/variables.module";
@import "styles/mixins.module";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  background: #E9EBF2;
  font-family: 'Commissioner', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;


  scrollbar-color: $main $main;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
    background: rgba(255, 255, 255, 0);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $main;
  }

  /* Handle on hover */

}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.pagination_bottom {
  margin-top: 40px;

  ul {
    @include df_jc_ai(center, center);

    a {
      display: block;
      @include fs_lh_fw_fcolor(14px, 16px, 600, $main);
      padding: 8px 12px;
      cursor: pointer;
    }

    .selected {
      background: $main;
      border-radius: 4px;
      color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .next {
    margin-left: 25px;
  }

  .previous {
    margin-right: 25px;
  }

  .next,
  .previous {
    display: none;
  }
}